
<div class="carousel slide" data-ride="carousel" id="carousel-3">
                        <div class="carousel-inner" role="listbox">
                            <% Post.recent.each do |post|%>
                                <% if Post.recent.first.id == post.id%>
                                    <div class="item active">
                                        <div class="jumbotron hero-nature carousel-hero" style="background-image:url('Images/DAWImages/Foto7.jpg');">
                                            <blockquote style="background-color:rgba(255,255,255,0.45);color:rgb(0,0,0);">
                                                <p class="mb-0">
                                                        <%= link_to post.body, trip_path(post.trip_id)%>                                                      
                                                </p>
                                                <footer style="color:rgb(0,0,0);"><%= post.user.name if post.user != nil %><i class="fa fa-user-circle-o" style="font-size:25px;"></i></footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                <% else %>
                                    <div class="item">
                                        <div class="jumbotron hero-nature carousel-hero" style="background-image:url('Images/DAWImages/Foto7.jpg');">
                                            <blockquote style="background-color:rgba(255,255,255,0.45);color:rgb(0,0,0);">
                                                <p class="mb-0">
                                                        <%= link_to post.body, trip_path(post.trip_id)%>                                                      
                                                </p>
                                                <footer style="color:rgb(0,0,0);"><%= post.user.name if post.user != nil %><i class="fa fa-user-circle-o" style="font-size:25px;"></i></footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        <div><a class="left carousel-control" href="#carousel-3" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel-3" role="button"
                            data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a></div>
                    </div>
